@import "tailwindcss";

#invoice-pdf {
  max-width: 210mm;
  min-height: 297mm;
  margin: 20px auto;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.invoice-table th,
.invoice-table td {
  border: 1px solid #000000;
  padding: 8px;
  font-size: 12px;
  color: #000;
  text-align: center;
}

.invoice-table th {
  background-color: #f3f4f6;
  font-weight: bold;
  text-transform: uppercase;
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body * {
    visibility: hidden;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  #invoice-pdf,
  #invoice-pdf * {
    visibility: visible;
  }

  #invoice-pdf {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
    background-color: white !important;
  }

  .invoice-table th,
  .invoice-table td {
    border: 1px solid #000000 !important;
    color: #000000 !important;
  }

  button,
  input,
  .no-print {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 10mm;
  }
}
